@{
    ViewData["Title"] = "Изтегляния";
}

<main>
    <section>
        <h2>Файлове за изтегляне</h2>
        <ul>
            <li><a href="/files/lebron_career.pdf" download>Кариера на Леброн Джеймс</a></li>
            <li><a href="/files/lebron_stats.pdf" download>Статистика на Леброн Джеймс</a></li>
            <li><a href="/files/lebron_photos.zip" download>Снимки на Леброн Джеймс</a></li>
        </ul>
    </section>
</main>
