@{
    ViewData["Title"] = "Галерия"; // Задаваме заглавие за страницата
}

<h1>Галерия:</h1> <!-- Основно заглавие на страницата -->

<section class="gallery">
    <!-- Галерия със снимки -->
    <img src="~/images/LegoatDunking.jpg" alt="Леброн забива">
    <img src="~/images/LegoatWinning2016.jpg" alt="Леброн печели шампионата през 2016">
    <img src="~/images/LebronJameswithFans.jpg" alt="Леброн с фенове">
    <img src="~/images/LebronBlock.jpg" alt="Леброн блокира удар">
</section>
