@{
    ViewData["Title"] = "Начало";
}

<header>
    <h1>Леброн Джеймс: Кралят на баскетбола</h1>
</header>

<main>
    <section style="text-align: center;">
        <img src="/images/HomepageLebron.jpg" alt="Леброн Джеймс" class="homepage-image">
        <h2>За Леброн Джеймс</h2>
        <p>
            Леброн Джеймс, известен още като "Кралят Джеймс", е един от най-великите баскетболисти в историята. Роден на 30 декември 1984 г. в Акрън, Охайо, Леброн започва своята кариера в НБА през 2003 г., когато е избран под номер 1 в драфта от отбора на Кливланд Кавалиърс.
        </p>
        <p>
            Леброн е четирикратен шампион на НБА, спечелвайки титли с Маями Хийт (2012, 2013), Кливланд Кавалиърс (2016) и Лос Анджелис Лейкърс (2020). Освен това, той е носител на четири награди за "Най-ценен играч" (MVP) в редовния сезон.
        </p>
        <p>
            Той основава "I PROMISE School" в родния си град Акрън, предоставяйки възможности за образование и подкрепа на деца в неравностойно положение. Леброн е вдъхновение за милиони хора по света.
        </p>
    </section>
</main>
